
html {
    height: 100%;
    font-size: 12px;
}

body {
    min-height: 100%;
    background-color: #191919;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 3px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 100;
}

.text-center {
    text-align: center;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    margin: 0;
}

a {
    color: rgba(0, 0, 0, 1);
}

a:hover, a:active, a:visited {
    color: rgba(0, 0, 0, 0.5);
}

a:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.5);
}

.content .container {
    width: 30rem;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.banner {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 15px;
}

.logo {
    margin: 2rem 0 1rem 0;
    height: 15rem;
}

.authors {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}

.authors a {
    color: transparent;
}

.authors div {
    display: inline-block;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

img.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 100%;
    border: .4rem solid rgba(255, 255, 255, 0.6);
    margin: 0 1rem;
    height: 6rem;
}

code-console {
    overflow: hidden;
}

code-console pre {
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.3em;
}

code-console pre:after {
    -webkit-animation: cursor-blink 0.8s linear infinite;
    -moz-animation: cursor-blink 0.8s linear infinite;
    -o-animation: cursor-blink 0.8s linear infinite;
    animation: cursor-blink 0.8s linear infinite;
    content: "|";
    color: #fff;
    padding-left: 3px;
}

code-console .overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

pre {
    margin: 0;
}

@-moz-keyframes cursor-blink {
    1% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes cursor-blink {
    1% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes cursor-blink {
    1% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes cursor-blink {
    1% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.social {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 50px;
}
.social a {
    position: relative;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px 10px 10px 10px;
    top: -20px;
    transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -webkit-transition: top 0.3s ease;
}
.social a:hover  {
    top: 0;
}
.social a.twitter:hover {
    background-color: #55ACEE;
}
.social a.github:hover {
    background-color: #4078C0;
}

@media (max-width: 400px) {
    html {
        font-size: 8px;
    }
}
@media (max-width: 750px) {
    .social {
        display: none;
    }
}
@media (max-height: 500px) {
    .logo {
        height: 10rem;
    }
}
@media (max-height: 400px) {
    .logo {
        display: none;
    }
}
@media (max-height: 300px) {
    .subtitle {
        display: none;
    }
}